{% extends 'layout/layout.html.twig' %}

{% block title %}user
{% endblock %}

{% block body %}
	<div class="container">
		<h1>{{user.prenom}} est votre producteur</h1>

		<div class="d-flex card mb-3 flex-row {% if (user.id%2 == 1) %} flex-row-reverse {% endif %}">
			<img class="img-card " style="height: 300px; width: auto;" src="{{asset('assets/portraits/' ~ user.portrait)}}" alt="Card image cap">
			<div class="card-body d-flex flex-column justify-content-around">
				<h5 class="card-title">{{ user.prenom }}{{ user.nom }}</h5>
				<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				<p class="card-text">
					<small class="text-muted">{{ user.email }}</small>
					<a class="btn btn-success" href="{{ path('user-retrieve', {'id': user.id})}}">Voir le profil</a>
				</p>
				{% if is_granted('ROLE_ADMIN') %}
					<a class="btn btn-success" href="{{ path('user-delete', {'id': user.id}) }}">Supprimer</a>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="container d-flex flex-wrap justify-content-around">
		{% for produit in user.produits %}
			<div class="card mb-5" style="width: 18rem;">
					<img class="card-img-top" style="height: 250px; object-fit: cover;" src="{{asset('assets/photos/' ~ produit.photo)}}" alt="Card image cap">
					<div style="min-height: 145px;" class="d-flex flex-column justify-content-between pt-4 pl-4 pr-4">
						<h3 class="">{{ produit.nature }}
							{{ produit.variete }}</h3>
						<h2 class="text-center">{{ produit.prix }}
							€{{ produit.PrixType}}</h2>
					</div>
					<div class="d-flex flex-column justify-content-between card-body  align-items-center">
						<a href="{{ path('produit', {'id': produit.id}) }}" class="card-link btn btn-success">Savoir +</a>
						<div class="mt-3">
						{% if app.user == produit.producteur or is_granted('ROLE_ADMIN') %}
							<a class="btn btn-success btn-sm" href="{{ path('produit-delete', {'id': produit.id}) }}">Supprimer</a>
							<a class=" btn btn-success btn-sm" href="{{ path('modifier_produit', {'id': produit.id}) }}">Modifier</a>
						{% endif %}
						</div>
					</div>
				</div>
		{% else %}
			<p>Il n'y a aucun article à afficher.</p>
		{% endfor %}
	</div>

{% endblock %}
